<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
        <add name="EfectivoInmediato.Properties.Settings.EfectivoInmediatoConnectionString" connectionString="Data Source=DESKTOP-C3AO6JA;Initial Catalog=Sinergia;User ID=pawn;Password=qwerty123"
            providerName="System.Data.SqlClient" />
      </connectionStrings>
</configuration>